<div class="edit_c">
    <h1>Editar cargo</h1>

    <form class="form" method="post" action="<%= updateJobPath %>">
        <%- include('_form') %>
        <div class="actions">
            <input class="button" type="submit" value="Actualizar" />
        </div>
    </form>
</div>
