<div class="new_c">
    <h1>Nuevo cargo</h1>

    <form class="form" method="post" action="<%= createJobPath %>">
        <%- include('_form') %>
        <div class="actions">
            <input class="button" type="submit" value="Crear" />
        </div>
    </form>
</div>
