<div class="edit_c">
    <h1>Editar animal</h1>
    
    <form class="form" method="post" action="<%= updateAnimalPath %>">
    <%- include('_form') %>
        <div class="actions">
            <input class="button" type="submit" value="Actualizar" />
        </div>
    </form>
</div>
