<div class="new_c">
  <h1>Nuevo producto</h1>

  <form class="form" method="post" action="<%= createProductPath %>" enctype="multipart/form-data">
    <%- include('_form') %>
    <div class="actions">
      <input type="submit" value="Crear" />
    </div>
  </form>
</div>
