<div class="new_c">
    <h1>Nuevo coordinador</h1>

    <form class="form" method="post" action="<%= createCoordinatorPath %>">
    <%- include('_form') %>
        <div class="actions">
            <input type="submit" value="Crear" />
        </div>
    </form>
</div>
